.outer-container {
    background-color: black;
    background-color: black;
    height: 300vh;
    width: 100%;
}

.name-animation-container {
    color: white;
    font-family: Inter;
    text-align: center;
}

.name-animation-container > p {
    font-size: 50px;
    margin: 0px;
    display: inline-flex;
}

.letter {
    padding: 0px 3px;
    transform: none;
    opacity: 0;
    visibility: hidden;
}

.letter.show {
    transition: .5s;
    transform: translateY(20vh);
    opacity: 1;
    visibility: visible;
}

.indent-first-last {
    margin-right: 5vh !important;
}

body {
    margin: 0px;
}

.timeline-container {
    color: white;
    transform: translateY(18vh);
}

.timeline-content {
    font-family: Inter;
}

/* make height of the line proportional to the date of the content */
.timeline-line {
    height: 10vh;
}