<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div id="name-container">
        <p class="name">A</p>
        <p class="name">L</p>
        <p class="name">E</p>
        <p class="name">X</p>
        <p class="name">A</p>
        <p class="name">N</p>
        <p class="name">D</p>
        <p class="name">E</p>
        <p class="name" id="r">R</p>
        <p class="name" id="l">L</p>
        <p class="name">I</p>
        <p class="name">U</p>
      </div>
      <div id="notes">
        <p id="project">theCoderSchool Notes Generator</p>
        <div id="notes-body">
          <iframe id="notes-image" src="https://alexl374.github.io/coderSchoolNotes/" height="500vh"></iframe>
          <!-- <img src="assets/images/Capture.PNG" alt="image" id="notes-image"> -->
          <p id="notes-text">This website was made using Angular(ajsd;fajsdkf;). </p>
        </div>
      </div>
      <div id="resume">
        <a (click)="resumeButton()" id="resume-button">Resume</a>
        <br>
        <iframe id="resume-pdf" src="assets/Alexander-Liu-Resume.pdf"></iframe>
      </div>
    </div>

    <!--<a href="https://alexl374.github.io/coderSchoolNotes/">CoderSchoolNotes</a>
    <!-- image of coderschoolnotes program
    <p>This CoderSchoolNotes program was created to assist me in keeping a consistent note system</p> -->
  </body>
</html>
